@import url('../../../../../assets/css/globalStyle.css');

.background-modal{
    display: none;  
    z-index: 0;
}

.header-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#register-things-button{      
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    
    
}

#register-things-button span{
   color: var(--background-color);
    font-size: 40px;    
}
