@import url('../../../../../assets/css/globalStyle.css');
body{
    height: 100%;
}
.background-modal{
    display: none;
}
header div.container .header-top{
    display: flex;
    flex-direction: row;   
    justify-content: space-between;            
}
header div.container h2{
    width: 193px;
}

video#preview{
    /* margin-top: 80px; */
    width: var(--containers-width);  
    cursor: none;
}

main .container{
    background-color: #00000083;
    min-height: 760px;
}