<!DOCTYPE html>
<html lang="pt-br">
<head id="login-page">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" />
    
    <title>Login</title>
</head>

<body>   
        
        <main>
            <div class="conteiner">
                <div id="img-logo">
                    <img src="../../../../assets/imgs/logo.png" alt="Logo Achaí">                    
                </div>

                <form id="form">
                    <label for="user">Usuário:</label>
                    <input type="text" name="user"  id="user" placeholder="Admin" required />

                    <label id="labelPassword">Senha: </label>
                    <input type="password" name="password" id="password" placeholder="Senha" required/>
                    <span id="recover-password-button">Quer alterar a senha?</span>
                        
                    <button name="confirm-button" id="confirm-button">Entrar</button>                              
                </form>
            </div> 
        </main>

        <footer>
            <div class="container"></div>
        </footer>

        <script type="module" src="index.js"> </script>
        <script type="module" src="../../../../assets/js/utilities.js"></script>
       
</body>

</html>