:root {    
    --containers-width: 100%; 
    --object-box-height: 116px;
    --object-img-width: 100px;
    --background-color: #FFFDF7;
    --gray-color: #7E7E7E;
    --modal-background-color: rgba(0, 0, 0, 0.5);    
    --font-color:  #1C1B1F;
    --font-size:  16px;  
    --font-title: "Poppins-SemiBold";
    --font-size-title: 18px;
    --titles: 18px;
    --h2-titles: 16px;
    --h3-breadcrumbs: 12px;
    --h4-titles: 14px;
    --p-titles: 16px;
    --sm-icon-width: 20px; 
    --md-icon-width: 22.23vw;
    --footer-margin-bottom: 30px;
    --box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  