@import url("../../../../assets/css/globalStyle.css");
main{
    margin-top: 7px;
}

.background-modal{
    display: none;  
    z-index: 0;
}


.panel-buttons ul li .material-symbols-rounded{
    width: var(--md-icon-width);
    height: var(--md-icon-width);
    border-radius: 50%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    margin-bottom: 5px;

}

.panel-buttons ul  {
    display: flex;    
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    
}
.panel-buttons ul li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    
}

section h1{
    margin-bottom: 5px;
}

.categories{
    margin-bottom: 10px;
}

/*      responsiveness        */

@media (min-width: 500px)
{
    .panel-buttons ul li .material-symbols-rounded{
        width: 80px;
        height: 80px;
    }
}

