@import url('../../../../assets/css/globalStyle.css');

.background-modal{
    display: none;
}

header div.container div#container-top{
    display: flex;        
}
#categories-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#categories-list li:nth-child(1){
    
    margin-top: 15px; 
}

#categories-list li a{
    display: inline-block;
    width: 100%;    
    height: 40px;
    cursor: pointer;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);     
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    font-weight: bold;
}

#register-things-button{
    margin-top: 10px;
    width: 25px;
    height: 25px;    
    text-align: center;
    line-height: 14.5px;
    align-self: self-end;
}


header{
    
    padding-bottom: 0px;
    padding-left: 0px;

}
  